@import "../styles.scss";

body {
  @media (min-width: $breakpoint-tablet) {
    background-color: $background-secondary;
  }
}
header {
  @include simple-flex(center, center, row);
  width: 100%;
  min-height: 44px;
  background-color: $background-secondary;
  padding: 30px 15px 20px;
  box-sizing: border-box;

  @media (min-width: $breakpoint-tablet) {
    background-color: $background-secondary;
    display: none;
  }

  .user-tag {
    margin-left: 144px;
  }

  .user-nick {
    margin: 0px 6px;
  }
  .menu {
    width: 24px;
    height: auto;
    cursor: pointer;
    margin-left: auto;
  }
}
.header2 {
  @include simple-flex(space-between, center, row);
  width: 100%;
  min-height: 50px;
  background-color: $background-primary;
  position: sticky;
  bottom: 0;
  padding: 0 26px;
  box-sizing: border-box;
  .input-style {
    color: blanchedalmond;
    font-size: 1.4rem;
    width: 326px;
    height: 36px;
    margin: 6px 0;
    padding: 0 15px;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: $background-primary;
    color: $text-color;
  }
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.user-container {
  @include simple-flex(space-evenly, flex-start, row);
  flex-wrap: wrap;
  text-align: center;
  background-color: $background-secondary;
  padding-top: 50px;

  @media (min-width: $breakpoint-tablet) {
    background-color: $background-secondary;
    @include simple-flex(flex-start, flex-start, row);
    flex-wrap: wrap;
  }
  .user-pc {
    @include simple-flex(center, baseline, column);
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .user2 {
    font-size: 2.5rem;
    @media (max-width: $breakpoint-tablet) {
      background-color: $background-secondary;
      display: none;
    }
    .button2 {
      @media (max-width: $breakpoint-tablet) {
        width: 70px;
        height: 18px;
        background-color: #ffff;
        border: 1px solid #3c3c43;
        border-radius: 5px;
        color: #000;
        font-size: 1.3rem;
        outline: none;
      }
    }
    .uvalues {
      display: flex;
      text-align: center;
      background-color: $background-secondary;
      @media (max-width: $breakpoint-tablet) {
        @include simple-flex(flex-start, flex-start, row);
        flex-wrap: wrap;
        word-break: keep-all;
      }
    }
    .description2 {
      @media (min-width: $breakpoint-tablet) {
        display: none;
      }
    }
  }
  span {
    margin: 0px 25px;
    font-size: 1.3rem;
  }
}
.user-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(215deg, blue 10%, #fd1d1d, #fcb045);
  position: relative;
  margin-bottom: 5px;
  @media (min-width: $breakpoint-tablet) {
    margin: 70px 70px;
    width: 70px;
    height: 70px;
  }

  .spin {
    width: 64px;
    height: 64px;
    &:hover {
      border: 3px dashed #fff;
      border-radius: 50%;
      animation: girar linear 2s;
      animation-iteration-count: 1;
    }
    @keyframes girar {
      to {
        transform: rotate(360deg);
      }
    }
  }
  .user-pic {
    border: 2px solid #fff;
    position: absolute;
    @include box-round(56px);
  }
}
h1 {
  background-color: $background-secondary;
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}
.description {
  background-color: $background-secondary;
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
  p {
    background-color: $background-secondary;
    font-size: 1.2rem;
  }
}
.atsign {
  color: $highlight-color;
}
.user-options {
  @include simple-flex;
  width: 100%;
}
.user-story {
  @include simple-flex(center, center, row);
  flex-wrap: wrap;
  background-color: $background-secondary;
  .button1 {
    width: 100%;
    height: 44px;
    background-color: #ffff;
    border: 1px solid #3c3c43;
    border-radius: 5px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    outline: none;
    @media (min-width: $breakpoint-tablet) {
      background-color: $background-secondary;
      display: none;
    }
  }
}
.about-user {
  @include box-round(54px);
  margin: 0px 10px;
  border: 1px solid #c7c7cc;
  padding: 4px;
}
.about-usernew {
  border-radius: 50%;
  padding: 22px;
  border: 1px solid #c7c7cc;
}
.about-p {
  margin-left: 23px;
}
.user-photos {
  @include simple-flex(flex-start, flex-start);
  flex-wrap: wrap;
  gap: 1px;
}
